body {
    background: #000;
    color: #fff;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.letters {
    font-family: mono;
    font-size: 30pt;
    overflow-wrap: break-word;
}
