h1 {
    margin: 0;
}

.playlists .item {
    background: rgba(0,0,0,.5);
}

.active {
    background: cyan;
    color: black;
}

.tracks {
}

.outer {
    position: relative;
    height: 100vh;
}

.outer {
    /* https://cssgradient.io/ */
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(69,252,136,1) 100%);
}

.inner {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 2em;
    padding: 1em;
    position: absolute;
    background: rgba(0,0,0,.8);
    color: #fdf;
    overflow: hidden;
}

.content {
    width: 800px;
    margin: auto;
}
